<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <title>Products</title>
    <link rel='stylesheet' href='styles.css'>
</head>

<body>
    <h2>Ask a question</h2>

    <form action='/8ball' method='POST'>
        Question : <input type='text' name='question'><br /><br />
        <button type='submit'>Ask 8Ball</button>
    </form>

</body>

</html>