<!DOCTYPE html>
<html lang='en'>

<head>
  <meta charset='UTF-8'>
  <title>8Ball answer</title>
  <link rel='stylesheet' href='styles.css'>
</head>

<body>
  <h2>Result</h2>
  <p class='answer'>
    <p>question:
      <%= question %>
    </p>
    <p>answer:
      <%= answer %>
    </p>
  </p>
</body>

</html>